$mobile-width: 470px;
$tablet-width: 768px;
$desktop-width: 1200px;

$darkGreen: #4d878c;
$skyBlue: #00def2;
$blue: #00c7d9;
$greyLight: #b6bebf;
$green: #315659;
$grey: #595959;
$lightGrey: #ebf2f2;
$white: #fff;
$pine: #299ba6;
