section.questions
    .questions__container
        .questions__header
            h2 Easy process
            p to get a credit card
        .questions__field
            ul.questions__services
                li.question__service Banking Services
                li.question__service Security
                li.question__service Money Deposit
                li.question__service Custom Payment
                li.question__service Bus/Air Ticket
                li.question__service Online Banking
            ul.questions__list
                li Why use a credit card?
                li Are my purchases protected if I pay by credit card?
                li Why use a credit card?
                li Why use a credit card?
                li Why use a credit card?