section.section.process
    .process__content
        .process__header
            h2 Easy process
            p to get a credit card
        .process__features
            .process__features-item
                span.process__feature-name Online application
                p.process__feature-text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .process__features-item
                span.process__feature-name Get approval
                p.process__feature-text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .process__features-item
                span.process__feature-name Get your card
                p.process__feature-text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.