section.section.service
    .sservice__content
        .sservice__header
            h2 It's easy to use
            p Benefits credit card
        .sservice__services.sservice__slider.slider
            .service__elem
                a(href='#')
                    img(src='../../img/services-balance.jpg', alt='Balance', width='270', height='270')
                    span.section__services-name Balance transform
            .service__elem
                a(href='#')
                    img(src='../../img/services-banking.jpg', alt='Balance', width='270', height='270')
                    span.section__services-name Internet banking
            .service__elem
                a(href='#')
                    img(src='../../img/services-payment.jpg', alt='Balance', width='270', height='270')
                    span.section__services-name Buying payment
            .service__elem
                a(href='#')
                    img(src='../../img/services-tikets.jpg', alt='Balance', width='270', height='270')
                    span.section__services-name Balance transform