section.section.cards
    .cards__contents
        h2 Useful service available
        p Types of credit card
    .cards__slider.slider
        .cards__list
            .cards__item
                .cards__details
                    h3 Business credit card
                    p Business credit cards are specialized credit cards issued in the name of a registered business, and typically they can only be used for business purposes. Their use has grown in recent. problems.
                .cards__usage
                    h3 Usage
                    .cards__usage-list
                        span Shipping
                        span Office supplies
                        span Travel service
                .btn.btn--apply.card__button Apply Now
            .cards__item
                .cards__details
                    h3 Business credit card
                    p Business credit cards are specialized credit cards issued in the name of a registered business, and typically they can only be used for business purposes. Their use has grown in recent. problems.
                .cards__usage
                    h3 Usage
                    .cards__usage-list
                        span Shipping
                        span Office supplies
                        span Travel service
                .btn.btn--apply.card__button Apply Now