.hero
    .hero__inner
        p.hero__head To Make Your Life Easier Take a Card
        p.hero__caption There are many variations of passages of Lorem Ipsum available, but the majority have suffered There are many variations of passages of Lorem Ipsum randomised words which don't look even slightly believable.
        a.hero__apply-btn