doctype html
head
	title Digital Banking
	link(href='/css/style.css', rel='stylesheet', type="text/css")
	script(src='/js/fontawesome-all.min.js' defer)
body
	include ../template/mixins
	include ../template/header/header
	include ../components/hero/hero
	main.main

		include ../components/process/process

		include ../components/benefits/benefits

		include ../components/service/service