doctype html
head
	title Digital Banking
	link(href='dist/main.bundle.css', rel='stylesheet')
	script(src='minjs/fontawesome-all.min.js')
body
	include ../template/header/header
	include ../components/hero/hero
	main.main
		include ../components/process/process

		include ../components/benefits/benefits

		include ../components/service/service

		include ../components/card-types/card-types

		include ../components/stats/stats

		include ../components/questions/questions

		include ../template/footer/footer
	script(src='dist/bundle.js')