section.stats
    .stats__container
        .stats__list
            .stats__item
                .stats__number 725M
                .stats__name Happy User
            .stats__item
                .stats__number 700M
                .stats__name User Apprication
            .stats__item
                .stats__number 10M+
                .stats__name Payment Service
            .stats__item
                .stats__number 600M
                .stats__name User Feedback