section.section.benefits
    .benefits__media.benefits__benefits-video
    .benefits__content
        .benefits__header
            h2 It's easy to use
            p Benefits credit card
        .benefits__list
            .benefits__item
                span.benefits__name Online application
                p.benefits__text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .benefits__item
                span.benefits__name Get approval
                p.benefits__text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .benefits__item
                span.benefits__name Get your card
                p.benefits__text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .benefits__item
                span.benefits__name Get your card
                p.benefits__text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .benefits__item
                span.benefits__name Get your card
                p.benefits__text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
    a.benefits__readmore(href='#') Read more