section.section.benefits
    .benefits__media.benefits__benefits-video
    .benefits__content
        .benefits__header
            h2 It's easy to use
            p Benefits credit card
        .benefits__benefits
            .benefits__benefits-item
                span.benefits__benefits-name Online application
                p.benefits__benefits-text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .benefits__benefits-item
                span.benefits__benefits-name Get approval
                p.benefits__benefits-text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .benefits__benefits-item
                span.benefits__benefits-name Get your card
                p.benefits__benefits-text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .benefits__benefits-item
                span.benefits__benefits-name Get your card
                p.benefits__benefits-text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            .benefits__benefits-item
                span.benefits__benefits-name Get your card
                p.benefits__benefits-text Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
    a.benefits__readmore(href='#') Read more